.sidebarOption {
  align-items: center;
  display: flex;
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  
}

.sidebarOption:hover {
  color: white;
  /* background-color: rgb(97, 97, 97); */

  border-radius: 4px;
}

.sidebarOption_icon {
  padding: 13px;
}

.sidebarOption > P {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
